.container{
    /* height: 500px; */
    width: 500px;
    border-width: 2px;
    border-style: solid;
}
.header{
    height: 120px;
    width: 100px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;
}
.header-1{
    height: 120px;
    width: 210px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;

}
.main{
    width: 180px;
    height: 100px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
}
.main-1{
    width: 270px;
    height: 100px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
}
.item{
    width: 270px;
    height: 100px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin-left: 10px;
}
.item-1{
    width: 180px;
    height: 100px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin-left: 10px;
}
.a{
    height: 100px;
    border-width: 2px;
    border-style: solid;
    margin: 10px;
}
.box{
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 2px;
    border-style: solid;
    height: 80px;
    width: 100px;

}